@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin daisyui {
    themes: night --default --prefersdark, fantasy;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

@layer utilities {
    .prose h1,
    .prose h2,
    .prose h3,
    .prose h4,
    .prose h5,
    .prose h6 {
        @apply scroll-mt-20; /* To display headings after navbar */
    }

    /* Force to tables (inside markdown) to have horizontal scroll if needed */
    .prose table {
        display: block;
        overflow-x: auto;
        white-space: inherit;
    }

    .prose strong {
        @apply text-primary font-bold;
    }

    .prose em {
        @apply text-secondary;
    }

    .prose a {
        @apply hover:text-primary;
    }

    .prose blockquote {
        @apply border-l-4 border-secondary pl-4 italic text-base opacity-90;
    }

    .prose table {
        @apply w-full border-collapse text-sm;
    }
    .prose th, .prose td {
        @apply border border-base-200 px-3 py-2;
    }
    .prose thead {
        @apply bg-base-300 text-secondary font-semibold;
    }

    .prose li > p, .prose ul, .prose ol {
        @apply my-0;
    }
    .prose li {
        @apply my-2;
    }
    .prose p:has(+ ul), .prose p:has(+ ol) {
        @apply mb-2;
    }

}